/* 

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card img{
    margin-bottom: 1rem;
    height: 9rem;
    width: 8.9rem;
    
}
.card p{
    padding: 1rem;
    
    font-size: 0.9rem;
}
.name{
   
    font-size: 0.9rem;
    word-wrap: break-word; 
    white-space: pre-wrap;
} */