/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Madefor, Helvetica Neue, Helvetica, Arial, メイリオ, meiryo, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, sans-serif;
    font-family: "Poppins", sans-serif;  
   
    font-family: "Wix Madefor Display", Helvetica Neue, Helvetica, Arial, メイリオ, meiryo, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, sans-serif;
    font-family: Arial, sans-serif; /* Police sans-serif */
    font-family: 'Times New Roman', serif; /* Police serif */
    font-family: 'Courier New', monospace; /* Police monospace */
    font-family: Verdana, sans-serif; /* Police sans-serif */
    font-family: 'Georgia', serif; /* Police serif */

    font-family: 'Lato', sans-serif; 
    
    
}


/* .wix-madefor display-<uniquifier> {
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */